<!-- --------------------carousal text-------------------->
.carousel-item p{
    color: #000;
 }   
 .carousel-item h5{
    color: #000;
 }   
<!-- --------------------Cards-------------------->
 .row{
    margin : 10px;
    justify-content: center;
 }
<!-- --------------------footer/icon-------------------->
 footer {
    text-align: center;
}

.icon { 
    margin: 7px;
    padding-top: 30px;
    color: black;transition: all 1s;
}
.icon:hover{
    transform: scale(0.5.0.5);
    color: red;
}
